.CameraCapture-container {
  .button-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .camera-true {
    width: 640px;
    height: 480px;
  }
  .camera-false {
    width: 1px;
    height: 1px;
  }
  .img-div {
    display: flex;
    justify-content: center;
    padding: 30px;
    img {
      width: calc(100% - 150px);
      height: calc(100% - 150px);
    }
  }
  @media only screen and (max-width: 768px) {
    img {
      width: calc(100% - 30px) !important;
      height: calc(100% - 30px) !important;
    }
  }
}
