.GaleryImages-container {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  
  
  .label-error {
    flex-direction: column;
    padding-top: 3em;
    color: red;
  }
  .img-image {
    cursor: pointer;
    width: 150px;
    padding: 10px;
  }

  .img-image:hover {
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
  }
  p {
    color: black;
  }
}